/*
Author:  Jaeho Lee (jay@spoqa.com), Sungwon Moon (longfin@spoqa.com)
Project: http://github.com/sairion/d5s
*/
@import 'reset.css';

body {
  font-family: 'Source Sans Pro', Arial, 'Malgun Gothic', Dotum, sans-serif;
}
/* Element style reset*/
a:link, a:active, a:hover, a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* index */
.wrapper {
    width: 100%;
    min-width: 1100px;
    max-width: 1400px;
    margin: 0 auto;
}
.topdiv {

}
.header {

}
.header-line {

}
.header-logo {

}
.topdiv-menu {

}
.topdiv-menu li {

}
.topdiv-menu li a {

}
/* footer */
.footer {

}
.footer .inner-container {

}
.footer-mail {

}
.footer .mail-link {

}
.footer .copyright {

}
/* content area */
.content {

}
/* categories */
.item-thumbnails {

}
.item-thumbnails {
  width: 80%;
  margin: 0 auto;
}
.item-thumbnails li {
  float: left;
  width: 30%;
  margin-right: 3.33333333%;
}
.item-thumbnails li:nth-child(3n) {
  margin-right: 0;
}
.item-thumbnails li img {
  width: 100%;
  height: auto;
}
.item-thumbnails li a {

}
/* portfolio item */
.portfolio-item {

}
.portfolio-item .item {

}
