/*
Author:  Jaeho Lee (jay@spoqa.com), Sungwon Moon (longfin@spoqa.com)
Project: http://github.com/sairion/d5s
*/
@import 'reset.css';

/* Element style reset*/
a:link, a:active, a:hover, a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* index */
.wrapper {

}
.topdiv {

}
.header {

}
.header-line {

}
.header-logo {

}
.topdiv-menu {

}
.topdiv-menu li {

}
.topdiv-menu li a {

}
/* footer */
.footer {

}
.footer .inner-container {

}
.footer-mail {

}
.footer .mail-link {

}
.footer .copyright {

}
/* content area */
.content {

}
/* categories */
.item-thumbnails {

}
.item-thumbnails ul {

}
.item-thumbnails ul li{

}
.item-thumbnails ul li img{

}
.item-thumbnails ul li a{

}
/* portfolio item */
.portfolio-item {

}
.portfolio-item .item {

}
