<!DOCTYPE html>
<!--[if lt ie 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if ie 7]>         <html class="lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if ie 8]>         <html class="lt-ie9 ie8"> <![endif]-->
<!--[if gt ie 8]><!--> <html class=""> <!--<![endif]-->
<head>
<title>송보은</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
<meta charset="utf-8" />
<meta name="author" content="송보은" />
<meta name="keywords" content="송보은" />
<meta name="description" content="송보은의 홈페이지입니다." />
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
<link href='//cdn.jsdelivr.net/bxslider/4.1.1/jquery.bxslider.css' rel='stylesheet' type='text/css'>
<link rel="icon" href="{{ url_for('static', filename='asset/favicon.ico') }}" type="image/x-icon" />
</head>
<body>
  <!-- 상단 메뉴 영역 -->
  <div id="wrapper" class="wrapper">
    <div class="topdiv">
      <div class="header">
        <h1 class="header-line"><a href="/">Boeun Song</a></h1>
        <a href="/" class="header-logo-wrap">
          <img src="http://lorempixel.com/150/150" class="header-logo-img">
        </a>
      </div>
      <div class="divider"></div>
      <!-- 메뉴 영역 -->
      <ul class="topdiv-menu clearfix">
        <li><a href="/category/1">카테고리 1</a></li>
        <li><a href="/category/2">카테고리 2</a></li>
        <li><a href="/category/3">카테고리 3</a></li>
        <li><a href="/category/4">카테고리 4</a></li>
      </ul>
      <!-- 메뉴 영역 끝 -->
    </div>
    <div class="divider"></div>
    <div class="content">
      <!-- 이부분에 내용 들어감 -->
      {% block content %}
      <div class="main-content">
        <h3 class="feat-title">Featured Works</h3>
        <!-- 슬라이더 영역 -->
        <ul id="bxslider">
          <li><a href="/portfolio/1"><img class="feat-img" src="http://lorempixel.com/700/400/fashion/1"></a></li>
          <li><a href="/portfolio/1"><img class="feat-img" src="http://lorempixel.com/700/400/fashion/2"></a></li>
          <li><a href="/portfolio/1"><img class="feat-img" src="http://lorempixel.com/700/400/fashion/3"></a></li>
          <li><a href="/portfolio/1"><img class="feat-img" src="http://lorempixel.com/700/400/fashion/4"></a></li>
        </ul>
        <!-- 슬라이더 영역 끝 -->
      </div>
      {% endblock content %}
    </div>
    <div class="divider"></div>
    <div class="footer">
      <div class="inner-container">
        <div class="footer-mail">
          <a class="mail-link" href="mailto:mail@mail.com">mail@mail.com</a>
        </div>
        <div class="footer-mail">
          <a class="mail-link" href="/about">about</a>
        </div>
        <div class="copyright">
          2014 © All Rights Reserved.
        </div>
      </div>
    </div>
    <!-- .footer -->
  </div>
  <!-- .wrapper -->

</div>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="//cdn.jsdelivr.net/bxslider/4.1.1/jquery.bxslider.min.js"></script>
<!-- 슬라이더 초기화 -->
<script>
var $masonryContainer = $('.item-thumbnails'),
    $bxSliderContainer = $('#bxslider');

if ($bxSliderContainer.length !== 0) {
  $bxSliderContainer.bxSlider({
    adaptiveHeight: true,
    mode: 'fade',
    controls: false
  });
}
</script>
</body>
</html>
